html,
body,
header,
#intro {
    height: 100%;
}

.top {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

#intro {
    background: url("../img/lightning.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}